{% extends "base_generic.html" %}



{% block content %}
  <div class="card bg-light p-3 mb-3 ">
      <h1>Local Library Home</h1>
      <p>
        Welcome to LocalLibrary, a website developed by
        <em>TechRx Developer Network</em>!
      </p>
  </div>
  <div class=" card p-3 mb-3 ">
    <h2>Dynamic content</h2>
    <p>The library has the following record counts:</p>
    <br>
    <div class="row">
          <div class="col-sm-3">
            <div class=" card p-3 bg-light text-center">
              <strong>Books</strong>
              <strong>{{ num_books }}</strong> 
            </div>
          </div>
          <div class="col-sm-3">
            <div class=" card p-3 bg-light text-center">
              <strong>Copies</strong>
              <strong>{{ num_instances }}</strong> 
            </div>
          </div>
          <div class="col-sm-3">
            <div class=" card p-3 bg-light text-center">
              <strong>Copies available</strong>
              <strong>{{ num_instances_available }}</strong>
            </div>
          </div>
          <div class="col-sm-3 text-center">
            <div class=" card p-3 bg-light">
              <strong>Authors</strong>
              <strong>{{ num_authors }}</strong> 
            </div>
          </div>
        </div>
  </div>
  <div class="card p-3 mb-3">
    <h2>Session information</h2>
    <p>Number of visits to this page: {{ num_visits }}</p>


  </div>
  <!-- <p>
  You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.
</p> -->
{% endblock %}