{% extends "base_generic.html" %}

{% block sidebar %}
  {{ block.super }}

  {% if perms.catalog.change_book or perms.catalog.delete_book %}
  <hr>
  <ul class="sidebar-nav">
    {% if perms.catalog.change_book %}
      <li><a href="{% url 'book-update' book.id %}">Update book</a></li>
    {% endif %}
    {% if not book.bookinstance_set.all and perms.catalog.delete_book %}
      <li><a href="{% url 'book-delete' book.id %}">Delete book</a></li>
    {% endif %}
    </ul>
  {% endif %}

{% endblock %}



{% block content %}
  <div class="card bg-light p-3 mb-3">
    <h1>Title: {{ book.title }}</h1>

  <p><strong>Author:</strong> <a href="{{ book.author.get_absolute_url }}">{{ book.author }}</a></p>
  <!-- author detail link not yet defined -->
  <p><strong>Summary:</strong> {{ book.summary }}</p>
  <p><strong>ISBN:</strong> {{ book.isbn }}</p>
  <p><strong>Language:</strong> {{ book.language }}</p>
  <p><strong>Genre:</strong> {{ book.genre.all|join:", " }}</p>

</div>

<div class="card">
  <div class="card-header ">
    <h3 class="">Copies - {{book.bookinstance_set.count}}</h3>
   
  </div>

  {% for copy in book.bookinstance_set.all %}
   
    <div class="card bg-light m-3 p-3">
      <p
      class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'm' %}text-danger{% else %}text-warning{% endif %}">
      {{ copy.get_status_display }}
    </p>
    {% if copy.status != 'a' %}
      <p><strong>Due to be returned:</strong> {{ copy.due_back }}</p>
    {% endif %}
    <p><strong>Imprint:</strong> {{ copy.imprint }}</p>
    <p class="text-muted"><strong>Id:</strong> {{ copy.id }}</p>
    </div>
  {% endfor %}
</div>
{% endblock %}